#portfolio {
  margin-top: 140px;
}

.panel-body img{
  max-width: 100%;
  max-height: inherit;
  display: block;
}

.project-link {
  color: black;
}

.modal-body img {
  margin: 10px;
}

.modal-header {
  padding: 20 10 20 10
}

.modal-hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

body {
  font-size: 18px !important;
}

.modal-body-text {
  display: inline;
  overflow: auto;
}
