body{
  background-color: #303030;
  padding-top: 80px;
  font-size: 16px;
  padding-bottom: 80px;
  position: relative;
}

.header {
  height: 50px;
}
#about{
  padding-top: 150px;
}
#portfolio {
  padding-top: 150px;
}
#contact {
  padding-top: 150px;
}
#contact-info {
  margin-top: 30px;
}
.bio {
  background-color: #00CCFF;
  padding-top: 30px;
  padding-bottom: 10px;
}

.bio-desc {
  font-size: 16px;
}

.bio-img {
  max-height: 300px;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-thumbnails {
  background-color: #B0B0B0;
  padding-top: 50px;
}

.project-description {
  background-color: #B0B0B0;
}

.contact {
  padding-top: 40px;
  background-color: #CC6633;
  padding-bottom: 80px;
}

.footer-header {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  display: inline;
  font-size: 22px;
}

.input-group {
  background-color: #CC6633;
}

.form-control{
  margin-top: 5px;
}

.message {
  height: 100px;
}

.contact-submit{
  margin-top: 5px;
}
footer{
  background-color: gray;
  font-style: inherit;
}
