#portfolio {
  margin-top: 140px;
}

.panel-body img{
  max-width: 100%;
  max-height: inherit;
  display: block;
}

.project-link {
  color: black;
}

.modal-body img {
  margin: 10px;
}

.skillLabel {
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}

.checkbox input {
  display: block;
}

.projectSkills {
text-wrap: normal;
}
